$--color-white: #fff !default;
$--color-black: #000000 !default;
$--nav-height: 70px;
$--color-primary: #D73F09;
$--color-spot: #F7A162;
$--color-correct: #4A773C;
$--color-wrong: #A7ACA2;
$--color-info: #1A1A1A;
$--color-danger: #d62326;
$--font-size-base: 16px;
$--font-size-small: 14px;
$--font-size-large: 22px;
$--font-weight-primary: 700;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
